*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --amareloClaro: #ffcc33;
    --amarelo: #cfb53b;
    --azul: #0a5580;
    --laranja: #cba135;
    --preto: #1b1b1b;
}
body{
    background: var(--preto);
    font: normal 1em serif
}
header{
    display: flex;
    justify-content: center;
    flex-direction: row;
    background: var(--preto);
    color: var(--amarelo);
    padding: 20px;
    box-shadow: 0 0 10px var(--amarelo);
    height: 130px;
}
header h1{
    text-wrap: wrap;
    text-align: center;
    padding-top: 18px;
    font-size: 2em;
}
header img{
    position: absolute;
    left: 10px;
    width: 65px;
    height: 65px;
}
section{
    background: var(--amarelo);
    margin: 30px auto;
    color: white;
    height: 450px;
    box-shadow: 0 0 3px white;
    padding: 20px;
    max-width: 800px;
    text-align: center;
}
section h1{
    margin: 20px 0 30px 0;
    color: var(--preto)
}
article{
    background: var(--preto);
    border-radius: 10px;
    padding: 15px;
    width: 70%;
    height: 300px;
    color: var(--amareloClaro);
    margin: auto;
    box-shadow: 2px 2px 4px var(--preto);
}
#hora article{
    background: var(--preto);
    color: var(--amareloClaro);
}
article img{
    display: block;
    margin: 20px auto;
    width: 170px;
    height: 170px;
    border-radius: 20px;
    box-shadow: 2px 2px 3px var(--preto);
}
article .butao{
    display: block;
    margin: 30px auto 0 auto;
    font-size: 16px;
    font-weight: bold;
    padding: 7px;
    background: var(--laranja);
    color: var(--preto);
    border: 1px solid var(--laranja);
    transition: .7s;
    box-shadow: 0 0 5px var(--laranja), 0 0 10px var(--laranja);
}
article .butao:hover{
    background: var(--preto);
    color: var(--laranja);
    box-shadow: 0 0 5px var(--laranja), 0 0 20px var(--laranja), 0 0 25px var(--laranja);
}
article .butao:active{
    transition: .1s;
    transform: scale(0.95);
}
article p{
    font: sans-serif 1.3em;
    line-height: 1.5em;
    margin: 20px auto 0 auto;
    text-align: center;
}
#bhaskara input{
    font-size: 1em;
    padding: 5px;
}
.bas{
    text-align: center;
    flex-wrap: wrap;
    width: 100px;
    margin: 4px auto;
    padding: 3px;
    font-size: 13;
}
footer{
    margin-top: 30px;
    margin-bottom: 0;
    box-shadow: 0 0 7px var(--amareloClaro);
    background: var(--laranja);
    padding: 20px;
    font-weight: 550;
    color: var(--preto);
    line-height: 1.7em;
}
footer a{
    text-decoration: none;
    background: var(--amareloClaro);
    color: var(--preto);
    border-radius: 2px;
    padding: 3px;
}
footer a:hover{
    background: var(--amarelo);
    text-decoration: underline 1px var(--preto);
}
footer a::before{
    padding: 2px;
    content: '\1f517';
}
footer #di{
    font-style: italic;
}
@media(width < 650px){
    header h1{
        font-size: 1.4em;
        padding-left: 50px;
    }
    #bhaskara{
        height: 530px;
    }
    #bhaskara article{
        height: 370px;
    }
}
@media(width < 350px){
    #hora img{
        width: 100px;
        height: 100px;
    }
    #bhaskara article{
        height: 400px;
    }
}