*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --amareloClaro: #ffcc33;
    --amarelo: #cfb53b;
    --azul: #0a5580;
    --laranja: #cba135;
    --preto: #1b1b1b;
}
body{
    background: #0a5580;
    font: normal 1em serif
}
header{
    display: flex;
    justify-content: center;
    flex-direction: row;
    background: var(--preto);
    color: var(--amarelo);
    padding: 20px;
    box-shadow: 0 0 10px var(--amarelo);
    height: 130px;
}
header h1{
    text-wrap: wrap;
    text-align: center;
    padding-top: 18px;
    font-size: 2em;
}
header img{
    position: absolute;
    left: 10px;
    width: 65px;
    height: 65px;
}
footer{
    border-top: solid 2px var(--preto);
    margin-top: 30px;
    box-shadow: 0 0 20px var(--preto);
    background: var(--laranja);
    padding: 20px;
    font-weight: 550;
    color: var(--preto);
    line-height: 1.7em;
}
footer a{
    text-decoration: none;
    background: var(--amareloClaro);
    color: var(--preto);
    border-radius: 2px;
    padding: 3px;
}
footer a:hover{
    background: var(--amarelo);
    text-decoration: underline 1px var(--preto);
}
footer a::before{
    padding: 2px;
    content: '\1f517';
}
@media(width < 650px){
    header h1{
        font-size: 1.3em;
        padding-left: 50px;
    }
}